*{
    box-sizing: border-box;
}

body{
    background-color: rgba(195, 210, 233, 0.836);
}

#nav .navbar-brand {
    color: black;
}

.navbar-brand h1{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

#nav {
    background-color: rgb(122, 170, 192);
    color: black;
}

#nav-list{
    text-decoration: None;
}

#nav-list a{
    text-transform: uppercase;
    color: black;
}

#main-content{
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

#sub-content {
    background-color: darkgray;
    border: 2px solid #000;
    overflow: hidden;
    height: auto;
    padding: 5px;
}

#sub-content p{
    text-align: left;
}

.sub-heading {
    text-align: center;
    margin-top: 0;
}


#nav-list {
    text-align: center;
}

#nav-to-top {
    border: 1px solid #000;
    text-align: center;
    width: auto;
    background-color: rgb(122, 170, 192);
}

#nav-to-top a {
    color: #000
}

#nav-to-top:hover {
    background-color: lightcyan;
}

@media(min-width: 1200px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    #nav-to-top {
        clear: left;
        width: 120px;
    }

    #sub-content {
        margin: 0 0 10px 0;
    }

    
}

@media (min-width: 768px) and (max-width: 991px) {
    #nav-to-top {
        clear: left;
        width: 120px;
    }

    #sub-content {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 767px) {
    #main-content{
        margin-left: 20px;
        margin-right: 20px;
    }

    #sub-content {
        margin: 0 0 10px 0;
    }
}